:root {
  --accent: #7fc37e;
  --light: #fefee2;
  --dark: #333333;
}

[data-theme="dark"] {
  --background-color: var(--dark);
  --color: var(--light);
}
[data-theme="light"] {
  --background-color: var(--light);
  --color: var(--dark);
}
